---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -performance-move-const-arg,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroCase
    value: UPPER_CASE
  - key: modernize-use-nullptr.StrictMode
    value: '1'
  - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value: '1'
  - key: performance-faster-string-find.StringLikeTypes
    value: 'std::basic_string'